@tailwind base;
@tailwind components;
@tailwind utilities;

.blue {
    background-color: rgb(165, 196, 231);
}
.pink {
    background-color: rgb(255, 179, 214);
}
.green {
    background-color: rgb(209, 240, 151);
}
.orange {
    background-color: rgb(255, 191, 139);
}
.cyan {
    background-color: rgb(163, 255, 255);
}

.sliced-btn-left {
    position: relative;
    padding: .6em 1em;
    min-width: 9em;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    border-radius: 20px 0px 0px 20px;
}

.sliced-btn-right {
    position: relative;
    padding: .6em 1em;
    min-width: 9em;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    border-radius: 0px 20px 20px 0px;
    margin-left:-2.1em;
}

.tool-pill {
    cursor: default;
    padding: 0px 16px;
    height: 25px;
    background-color: rgb(155, 186, 245);
    border-radius: 10px;
    font-size: 85%;
}