@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: montserrat;
  src: ("./fonts/montserrat");
}

html {
  background-image: linear-gradient(rgb(7, 16, 44), rgb(12, 14, 47), rgb(28, 4, 51));
  /* background-color: rgb(7, 16, 44); */
  color:rgb(195, 205, 216);
  scroll-behavior: smooth !important;
}

::selection {
  background: rgb(235, 144, 69); /* WebKit/Blink Browsers */
  color:rgb(7, 16, 44);
}
::-moz-selection {
  background: rgb(235, 144, 69); /* Gecko Browsers */
  color:rgb(7, 16, 44);
}

h4::selection {
  background: #eb9045; /* WebKit/Blink Browsers */
  color: #003347;
}
h4::-moz-selection {
  background: rgb(235, 144, 69); /* Gecko Browsers */
  color:#003347;
}

h1, h3 {
  font-family: montserrat;
}

h1, h2, h3, h5 {
  color: white;
}
h4 {
  color:rgb(108, 238, 255);
}

footer a:hover {
  transition: ease-in-out 0.3s;
  text-decoration: underline;
  color:#7ad9ff;
}

footer img {
  margin: 3px 15px 0 15px;
  width: 20px;
  height: 20px;
}

.cyan_200 {
  color:rgb(191, 248, 255);
}
.cyan_300 {
  color:rgb(111, 229, 245);
}


.blue {
  background-color: rgb(165, 196, 231);
}
  
.pink {
  background-color: rgb(255, 179, 214);
}

.green {
  background-color: rgb(209, 240, 151);
}


.sliced-btn-dev, .sliced-btn-uxd {
  position: absolute;
  padding: .6em 1em;
  min-width: 9em;
  z-index: 10;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
  border-radius: 20px 0px 0px 20px;
  color:rgb(3, 52, 117);
  background-color: rgb(0, 212, 240);
  transition: ease-in-out 0.2s;
}

.sliced-btn-dev:hover, .sliced-btn-uxd:hover {
  background-color: rgb(20, 8, 71);
  color: rgb(182, 250, 255);
  transform: scale(1.05);
  z-index: 15;
}

.sliced-btn-dev:active, .sliced-btn-uxd:active {
  background-color: rgb(0, 108, 158);
  transition: ease-in 0s;
  z-index: 15;
}

.sliced-btn-uxd:active {
  background-color: rgb(184, 110, 0) !important;
}

.shadow-btn-dev, .shadow-btn-uxd {
  padding: 1em;
  width: 8em;
  z-index: 0;
  margin: 5px 40px 0 0;
  border-radius: 20px;
  box-shadow: 
  0px 0px 10px 6px rgba(79, 255, 255, 0.342),
  30px 0px 10px 6px rgba(150, 255, 181, 0.096);
  background-color: rgba(255, 255, 255, 0);
  transition: ease-in-out 0.3s;
}

.sliced-btn-uxd {
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 0px 20px 20px 0px;
  margin-left:-2.7em;
  color: rgb(138, 57, 20);
  background-color: rgb(255, 182, 73);
}

.sliced-btn-uxd:hover {
  background-color: rgb(66, 9, 16);
  color: rgb(255, 223, 134);
}

.shadow-btn-uxd {
  margin: 5px 0 0 -30px;
  box-shadow: 
  0px 0px 20px 6px rgba(255, 177, 75, 0.301),
  -10px 0px 10px 6px rgba(252, 255, 91, 0.151);
}

.tool-pill {
  cursor: default;
  padding: 0 15px;
  margin: 0 3px;
  height: 25px;
  border-radius: 7px;
  font-size: 95%;
}

.blue {
  color:rgb(7, 10, 36);
  background-color: rgb(0, 212, 240);
  box-shadow: 0px 1px 7px 0px rgba(0, 212, 240, 0.315);
}

.orange {
  color:rgb(36, 7, 14);
  background-color: rgb(233, 144, 43);
  box-shadow: 0px 1px 7px 0px rgba(255, 198, 42, 0.322);
}

#vertical_nav {
  text-align: right;
  position: fixed;
  z-index: 50;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

li {
  margin: 10px;
  white-space:nowrap;
}

.nav-dot {
  background-color: rgba(160, 238, 248, 0.288);
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  transition: ease-in-out 0.1s; 
}

.nav-dot:hover {
  background-color: rgb(111, 229, 245);
  border-radius: 10%;
  transform: rotate(45deg) scale(1.8);
}

.nav-label {
  font-size: 60%;
  font-weight: 500;
  color: white;
  visibility: hidden;
  float:right;
  position: relative;
  right: 10px;
  top:-7px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(150%) rotate(-45deg) !important;
}

.is-selected {
  background-color: rgba(111, 229, 245, 0.5);
  border-radius: 10%;
  transform: rotate(45deg) scale(1.3);
}

.slides {
  display: none;
  box-shadow: 2px 0px 40px 0px rgba(177, 217, 255, 0.116);
}

.slides-fade {
  animation: fade-in-move-up 1.2s;
}

@keyframes fade-in-move-up {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-dot {
  height: 12px;
  width: 12px;
  margin: 50px 5px;
  background-color: rgba(160, 238, 248, 0.288);
  border-radius: 50%;
  display: inline-block;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.slide-dot:hover {
  background-color: rgb(111, 229, 245);
  transform: scale(1.3);
}

.active-dot {
  background-color: rgba(111, 229, 245, 0.699);
}

.divider {
  height: 2px;
  width: 100%;
  margin: 60px 0;
  box-shadow: 0 0 4px 0px rgb(111, 229, 245);
  background-color: rgb(111, 229, 245);
  border-radius: 10px;
}

.divider-fade {
  animation: fade-in-right 1.2s;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}


.bg-rectangle {
  background-color: rgba(6, 9, 17, 0.466);
  box-shadow: 0px 0px 40px 0px rgba(90, 137, 165, 0.082);
  width: 90%;
  height: 90%;
  margin: auto;
  position:absolute;
  z-index: -10;
}

#floater-container {
  width:100%;
  height: 100%;
}
.floater {
  position: absolute !important;
  z-index: -10;
  backface-visibility: hidden; 
  transform-style: preserve-3d; 
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
.first{
  width: 20vw;
  height: 20vw;
  top: 0px;
  left: 0px;
}
.second{
  width: 5vw;
  height: 5vw;
  top: 65% !important;
  left: 17% !important;
}
.third{
  width: 10vw;
  height: 10vw;
  top: 25% !important;
  right: 17% !important;
}

.brain {
  transform: translatey(0px);
	animation: float 5s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.parallax {
  perspective: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}
.parallax__layer {
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.parallax__layer--fore {
  transform: translateX(40%) translateZ(90px) scale(.5);
  z-index: 100;
}
.parallax__layer--base {
  transform: translateZ(0) scale(1);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
.parallax__group {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
}

#contact {
  height: 200px !important;
  padding: 10px 0;
  background-color: #00030fc2;
  width: 100vw;
}

#me {
  height: 400px !important;
}

.project-bg {
  background-color: #00041459;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 50px 0px;
  left: 0;
  display: block;
  position: absolute;
  z-index: -10;
  box-shadow: 0 0 50px 0px rgba(33, 219, 226, 0.055);
}
.project-bg-fade {
  animation: roll-in-right 1s;
}

@keyframes roll-in-right {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.img-wrap {
  display: inline-block; 
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* @media screen and (min-width: 1561px) {
  .mdc-layout-grid__inner {
    display: grid;
    margin: 0;
    grid-gap: 2.5%;
    grid-gap: var(--mdc-layout-grid-gutter-widescreen,2.5%);
    grid-template-columns: repeat(12,minmax(0,1fr));
  }
} */