@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
  src: ("/fonts/montserrat");
}

html {
  background-image: linear-gradient(rgb(7, 16, 44), rgb(12, 14, 47), rgb(28, 4, 51));
  color:rgb(195, 205, 216);
  scroll-behavior: smooth !important;
}

::selection {
  background: rgb(235, 144, 69); /* WebKit/Blink Browsers */
  color:rgb(7, 16, 44);
}
::-moz-selection {
  background: rgb(235, 144, 69); /* Gecko Browsers */
  color:rgb(7, 16, 44);
}

h4::selection {
  background: #eb9045; /* WebKit/Blink Browsers */
  color: #003347;
}
h4::-moz-selection {
  background: rgb(235, 144, 69); /* Gecko Browsers */
  color:#003347;
}

h1, h3 {
  font-family: montserrat;
}

h1, h2, h3, h5 {
  color: white;
}
h4 {
  color:rgb(108, 238, 255);
}

footer a:hover {
  transition: ease-in-out 0.3s;
  text-decoration: underline;
  color:#7ad9ff;
}

footer img {
  margin: 3px 15px 0 15px;
  width: 20px;
  height: 20px;
}

.cyan {
  color:rgb(102, 237, 255);
}

.sliced-btn-dev, .sliced-btn-uxd {
  position: absolute;
  padding: .6em 1em;
  min-width: 9em;
  z-index: 10;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
  border-radius: 20px 0px 0px 20px;
  color:rgb(3, 52, 117);
  background-color: rgb(0, 212, 240);
  transition: ease-in-out 0.2s;
}

.sliced-btn-dev:hover, .sliced-btn-uxd:hover {
  background-color: rgb(20, 8, 71);
  color: rgb(182, 250, 255);
  transform: scale(1.05);
  z-index: 15;
}

.sliced-btn-dev:active, .sliced-btn-uxd:active {
  background-color: rgb(0, 108, 158);
  transition: ease-in 0s;
  z-index: 15;
}

.sliced-btn-uxd:active {
  background-color: rgb(184, 110, 0) !important;
}

.shadow-btn-dev, .shadow-btn-uxd {
  padding: 1em;
  width: 8em;
  z-index: 0;
  margin: 5px 40px 0 0;
  border-radius: 20px;
  box-shadow: 
  0px 0px 10px 6px rgba(79, 255, 255, 0.342),
  30px 0px 10px 6px rgba(150, 255, 181, 0.096);
  background-color: rgba(255, 255, 255, 0);
  transition: ease-in-out 0.3s;
}

.sliced-btn-uxd {
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 0px 20px 20px 0px;
  margin-left:-2.7em;
  color: rgb(138, 57, 20);
  background-color: rgb(255, 182, 73);
}

.sliced-btn-uxd:hover {
  background-color: rgb(66, 9, 16);
  color: rgb(255, 223, 134);
}

.shadow-btn-uxd {
  margin: 5px 0 0 -30px;
  box-shadow: 
  0px 0px 20px 6px rgba(255, 177, 75, 0.301),
  -10px 0px 10px 6px rgba(252, 255, 91, 0.151);
}

.tool-pill {
  cursor: default;
  padding: 0 15px;
  margin: 0 3px;
  height: 25px;
  border-radius: 7px;
  font-size: 95%;
}

#vertical_nav {
  text-align: right;
  position: fixed;
  z-index: 50;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

li {
  margin: 10px;
  white-space:nowrap;
}

.nav-dot {
  background-color: rgba(160, 238, 248, 0.288);
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  transition: ease-in-out 0.1s; 
}

.nav-dot:hover {
  background-color: rgb(111, 229, 245);
  border-radius: 10%;
  transform: rotate(45deg) scale(1.8);
}

.nav-label {
  font-size: 60%;
  font-weight: 500;
  color: white;
  visibility: hidden;
  float:right;
  position: relative;
  right: 10px;
  top:-7px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(150%) rotate(-45deg) !important;
}

.is-selected {
  background-color: rgba(111, 229, 245, 0.5);
  border-radius: 10%;
  transform: rotate(45deg) scale(1.3);
}

.slides {
  display: none;
  box-shadow: 2px 0px 40px 0px rgba(177, 217, 255, 0.116);
}

.slides-fade {
  animation: fade-in-move-up 1.2s;
}

@keyframes fade-in-move-up {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-dot {
  height: 12px;
  width: 12px;
  margin: 50px 5px;
  background-color: rgba(160, 238, 248, 0.288);
  border-radius: 50%;
  display: inline-block;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.slide-dot:hover {
  background-color: rgb(111, 229, 245);
  transform: scale(1.3);
}

.active-dot {
  background-color: rgba(111, 229, 245, 0.699);
}

.divider {
  height: 2px;
  width: 100%;
  margin: 60px 0;
  box-shadow: 0 0 4px 0px rgb(111, 229, 245);
  background-color: rgb(111, 229, 245);
  border-radius: 10px;
}

.divider-fade {
  animation: fade-in-right 1.2s;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}


.bg-rectangle {
  background-color: rgba(6, 9, 17, 0.466);
  box-shadow: 0px 0px 40px 0px rgba(90, 137, 165, 0.082);
  width: 90%;
  height: 90%;
  margin: auto;
  position:absolute;
  z-index: -10;
}

#floater-container {
  width:100%;
  height: 100%;
  overflow: hidden;
}
.floater {
  position: absolute !important;
  z-index: -10;
  backface-visibility: hidden; 
  transform-style: preserve-3d; 
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}
.pixel-light {
  width: 99vw;
  height: auto;
  top: 0px;
  left: 0px;
}
.laptop {
  width: 75vh;
  height: auto;
  top: 22%;
  right: 7%;
}
.screens-deep {
  width: 59vh;
  height: auto;
  top: 30%;
  right: 7.5%;
}
.screens-back {
  width: 62vh;
  height: auto;
  top: 32.5%;
  right: 9.3%;
}
.screens-base {
  width: 67vh;
  height: auto;
  top: 41%;
  right: 8%;
}
.screens-fore {
  width: 14vh;
  height: auto;
  top: 52%;
  right: 26.5%;
}
.orange-blur-1{
  width: 6vw;
  height: 6vw;
  top: 66%;
  left: 33%;
}
.orange-blur-2{
  width: 5.5vw;
  height: 5.5vw;
  top: 13%;
  left: 4%;
}
.orange-blur-3{
  width: 4vw;
  height: 4vw;
  top: 26%;
  left: 53%;
}
.yellow-blur-1{
  width: 3.1vw;
  height: 3.1vw;
  top: 10%;
  left: 10%;
}
.yellow-blur-2{
  width: 3.6vw;
  height: 3.6vw;
  top: 19%;
  left: 13%;
}
.yellow-blur-3{
  width: 2.5vw;
  height: 2.5vw;
  top: 35%;
  left: 57%;
}
.yellow-blur-4{
  width: 3.1vw;
  height: 3.1vw;
  top: 72%;
  left: 92%;
}
.square-blue {
  width: 13vw;
  height: 13vw;
  user-select: none;
}
.square-orange {
  width: 8vw;
  height: 8vw;
  user-select: none;
}


.brain {
  transform: translatey(0px);
	animation: float 5s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.parallax {
  perspective: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}
.parallax__layer {
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.parallax__layer--top {
  transform: translateX(49.5%) translateY(-3%) translateZ(100px) scale(.4);
  z-index: 100;
}
.parallax__layer--fore {
  transform: translateX(52%) translateY(-7%) translateZ(70px) scale(.5);
  z-index: 100;
}
.parallax__layer--base {
  transform: translateZ(0) scale(1);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
.parallax__group {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
}

#contact {
  height: 200px !important;
  padding: 10px 0;
  background-color: #00030fc2;
  width: 100vw;
}

#me {
  height: 400px !important;
}

.project-bg {
  background-color: #00041459;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 50px 0px;
  left: 0;
  display: block;
  position: absolute;
  z-index: -10;
  box-shadow: 0 0 50px 0px rgba(33, 219, 226, 0.055);
}
.project-bg-right {
  animation: roll-in-right 1s;
}
.project-bg-left {
  animation: roll-in-left 1s;
}

@keyframes roll-in-right {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes roll-in-left {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.img-wrap {
  display: inline-block; 
  width: 100%;
  height: auto;
  overflow: hidden;
}